<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>REGISTER</title>
</head>
<body>
<div id="container">
    <div class="header">
        <h2>REGISTER!!</h2><br>
    </div>

    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class = "alertalert-danger">
            {{ message }}
    </div>
      {%- endfor %}

    <div class="form">
      <form action = "{{ request.path }}" method = "post" class="form">
         <label for = "username">Name</label><br>
         <input type = "text" name = "username" placeholder = "Name" /><br>
         <label for = "email">Email</label><br>
         <input type = "text" name = "email" placeholder = "Email" /><br>
         <label for = "department">Department</label><br>
         <textarea name = "department" placeholder = "Department"></textarea><br><br>
         <label for = "password">Password</label><br>
         <input type = "password" name = "password" placeholder = "Password" /><br><br>

          <select name="roles">
              <option value = "Superuser">SUPER USER </option>
              <option value = "Manager">MANAGER</option>
              <option value = "Employee">EMPLOYEE</option>
          </select>
	<center>
         <input type = "submit" value = "Register" />
	 </center>
      </form>
    </div>
</div>

</body>
</html>